In [6]:
import pandas as pd
from pygments.lexers import JavaLexer
from pygments import lex

In [5]:
df = pd.read_csv('parsed_code.csv', delimiter=';')
df

                Type                       Code
0    Class/Interface                     Animal
1           Variable                    species
2           Variable                   isMammal
3           Variable                    habitat
4             Method              displayInfo()
..               ...                        ...
105  Class/Interface                    Weather
106         Variable                       city
107         Variable                temperature
108           Method         getWeatherReport()
109           Method  updateTemperature(double)

[110 rows x 2 columns]

In [11]:
def tokenize_java_code(code_snippet):
    # Tokenize the code using the Java lexer
    tokens = lex(code_snippet, JavaLexer())
    
    # Extract the token values (ignoring token types for simplicity here)
    token_values = [value for token, value in tokens]
    
    return token_values

df['Tokens'] = df['Code'].apply(tokenize_java_code)

In [12]:
df

,Type,Code,Tokens
0,Class/Interface,Animal,"[Animal, \n]"
1,Variable,species,"[species, \n]"
2,Variable,isMammal,"[isMammal, \n]"
3,Variable,habitat,"[habitat, \n]"
4,Method,displayInfo(),"[displayInfo, (, ), \n]"
...,...,...,...
105,Class/Interface,Weather,"[Weather, \n]"
106,Variable,city,"[city, \n]"
107,Variable,temperature,"[temperature, \n]"
108,Method,getWeatherReport(),"[getWeatherReport, (, ), \n]"
109,Method,updateTemperature(double),"[updateTemperature, (, double, ), \n]"